server {
    listen       80;
    server_name  {{ app_url }};
    charset     utf-8;
    client_max_body_size 75M;
    error_log {{nginx_error_log}};

    root {{app_path}}{{app_name}};


    passenger_enabled on;

    passenger_app_type wsgi;
    passenger_startup_file {{app_name}}/wsgi.py;
    passenger_group vagrant;

    location /static {
        passenger_document_root {{app_path}}{{app_name}}/static;
    }

    location /media {
        passenger_document_root {{app_path}}{{app_name}}/media;
    }
    
    location ~* .(jpg|jpeg|png|gif|ico|css|js)$ {
    expires 365d;
    }
}